.fb-container {
  min-width: 1170px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

#top-nav .fb-container {
  background-color: #4A66A0;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
#top-nav .brand {
  float: left;
}
#top-nav .brand a {
  color: #fff;
  font-size: 24px;
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-weight: 500;
}
#top-nav .brand a:hover, #top-nav .brand a:focus {
  text-decoration: none;
}

#day {
  margin-top: 30px;
}

.calendar-events ul {
  list-style: none;
  padding: 0;
}
.calendar-events .timeline {
  float: left;
}
.calendar-events .timeline {
  width: 100px;
  height: 750px;
  margin-right: 10px;
}
.calendar-events .timeline li {
  text-align: right;
  height: 30px;
}
.calendar-events .timeline span.meridiem {
  font-size: 10px;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #CCC;
}
.calendar-events .timeline li:nth-child(2n+2) {
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #CCC;
}
.calendar-events .timeline li:nth-child(2n+1) span.time {
  color: #777;
  font-size: 15px;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#events-list {
  border: 1px solid #CCC;
  background-color: #E9E9E9;
  height: 720px;
  width: 620px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  float: left;
}
#events-list .events {
  position: relative;
  width: 100%;
  height: 100%;
}
#events-list .events .event {
  background-color: #fff;
  z-index: 1;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  position: absolute;
  overflow: hidden;
}
#events-list .events .event .wrap {
  border-left: 5px solid #4A66A0;
  padding: 5px;
  width: 100%;
  height: 100%;
}
#events-list .events .event .wrap .title {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #4A66A0;
}
#events-list .events .event .wrap .location {
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #CCC;
}

#intervals-input {
  float: right;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
#intervals-input textarea {
  width: 100%;
  height: 620px;
}
